<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- Handle requests up to 1 GB -->
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Vertroue.HMS.API.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D0F3BE20-8289-4D65-9587-22BD2A7EBF18-->