<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d2aede04-e1b0-4db8-ae0c-6e2c65cf0004/resourceGroups/rg-mg-dev1-t1-intexapi-01/providers/Microsoft.Web/sites/CentraliAutocodeAPI</ResourceId>
    <ResourceGroup>rg-mg-dev1-t1-intexapi-01</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://centraliautocodeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>09daa667-7625-4c36-bbad-0e2e01d84c06</ProjectGuid>
    <PublishUrl>https://centraliautocodeapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CentraliAutocodeAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>